###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
game/UserSettings/EditorUserSettings.asset
game/UserSettings/EditorUserSettings.asset
game/.vs/game/FileContentIndex/e08ebb04-d3ed-4770-9604-18e8f700bbef.vsidx
game/.vs/game/FileContentIndex/3783b86c-baed-47e4-a63e-32c060abcce3.vsidx
game/.vs/game/FileContentIndex/1188e057-9cb7-45c6-8b82-1c79b29cac0c.vsidx
game/.vs/game/FileContentIndex/38890ef0-0153-45cc-b666-4a01129a861d.vsidx
game/.vs/game/FileContentIndex/1188e057-9cb7-45c6-8b82-1c79b29cac0c.vsidx
game/.vs/game/FileContentIndex/1188e057-9cb7-45c6-8b82-1c79b29cac0c.vsidx
game/.vs/game/FileContentIndex/1188e057-9cb7-45c6-8b82-1c79b29cac0c.vsidx
game/.vs/game/FileContentIndex/1577babf-af65-4bd5-a5ef-a98075903aff.vsidx
game/.vs/game/FileContentIndex/2c51ea32-c6ec-4f7f-b7b2-b1babd92c037.vsidx
game/.vs/game/FileContentIndex/56099f7d-3587-4c8b-891f-25402d96e005.vsidx
game/.vs/game/FileContentIndex/6fa25da8-25b3-4d87-a90b-3daca4bc20d9.vsidx
game/.vs/game/FileContentIndex/2c51ea32-c6ec-4f7f-b7b2-b1babd92c037.vsidx
game/.vs/game/FileContentIndex/56099f7d-3587-4c8b-891f-25402d96e005.vsidx
